.git {
    background: #FFFFFF;
    border-radius: 55px;
    color: #121212;
    padding: 85px 125px;
    margin-bottom: 80px;
    margin-top: -122px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.2em;
}

.btn {
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    padding: 15px 65px;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 18px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}
.btn:hover {
    color: #FFFFFF;
    transform: translate(10px);
}
.link, .link:hover {
    color: #FFFFFF;
    text-decoration: none;
}
